.avatar {
    overflow: hidden;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
}

.avatar img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

hr {
    border: 0;
    height: 2px;
    width: 100%;
    background: #222;
}

.nb-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(-45deg, #AD56DB, #4905a3, #2761D9, #21C35F);
    background-size: 400% 400%;
    margin: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 9999px;
}

.nb-button:hover {
    animation: wave infinite 4s ease;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}