@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');

:root {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --link-color: #007bff;
    --link-color-hover: #0056b3;
    --link-color-visited: #0056b3;
    --link-color-active: #0056b3;
    --link-color-focus: #0056b3;
    --link-color-disabled: #6c757d;
    background-color: var(--bg-color);
}

body {
    font-family: 'Hack', sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    font-family: 'Lexend Mega', sans-serif;
    border: 3px solid #000000;
    display: flex;
    /* height: 85vh; */
    height: fit-content;
    border-radius: 1.5rem;
    background-color: #ffc0cb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 10%;
    margin: 0 10%;
    margin-top: 3rem;
}

header .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
}

header p {
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

header a:visited {
    color: white;
}

section {
    margin-bottom: 3rem !important;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
    border: 3px solid #000000;
    border-radius: 1.5rem;
    box-shadow: -3px 3px 0px #000000;
    padding: 1rem;
    background-color: #FADF0C;
    margin-top: 3rem;
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
}

section h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: 'Lexend Mega', sans-serif;
}

.card h3 {
    margin: auto;
}

section p {
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
}

/* min-width 1200px */

@media (min-width: 1200px) {
    section {
        max-width: 1140px;
    }
}

@media (min-width: 900px) {
    section {
        padding: 0 2rem;
    }
}

@media (max-width: 900px) {
    section {
        padding: 0 1rem;
    }

    .mobile-hide {
        display: none;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row>.img>img {
    height: 5rem;
    margin-top: 30px;
}

.row>.paragraph {
    flex: 1;
    padding-left: 1rem;
}

.cell {
    flex: 0 0 50%;
}

ul {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

.meter {
    background: lightgray;
    border-radius: 25px;
    height: 20px;
    box-shadow: -4px 4px 0px #000000;
}

.meter>span {
    background-color: #FF4910;
    border-radius: 20px 20px 20px 20px;
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: #333;
}

.new {
    background-image: url('../shapes/new.svg');
    width: 50px;
    height: 50px;
    position: absolute;
    animation: flash 1s infinite;
    z-index: 2;
}

@keyframes flash {
    0% {
        width: 70px;
        height: 70px;
    }

    50% {
        width: 50px;
        height: 50px;
    }

    100% {
        width: 70px;
        height: 70px;
    }
}